@import "../../common/css/break-points";
.security-setting-container{
  padding-left: 0;
  padding-right: 0;
}
.security-setting{
  padding: 20px 0;
}
.security-setting-container{
  ::v-deep .el-tabs__header{
    padding-top: 0;
  }
  ::v-deep .el-tabs__nav-scroll{
    padding: 0;
  }
  ::v-deep .el-tab-pane{
    padding: 0;
  }
}
.recently-login{
  color: #666;
  &>span:first-child{
    margin-right: 30px;
  }
}

@media (max-width: $md) {
  .recently-login{
    &>span{
      display: block;
      &:first-child{
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}
