// 定位全屏
@mixin allcover {
    position: absolute;
    top: 0;
    right: 0;
}

// transform上下左右居中
@mixin tac {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// transform定位上下居中
@mixin ttc {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


// transform定位左右居中
@mixin tlc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// flex上下左右剧中
@mixin fac() {
    display: flex;
    justify-content: center;
    align-items: center;
}


// 宽高
@mixin wh($width, $height) {
    width: $width;
    height: $height;
}

//字体大小，颜色
@mixin sc($size, $color) {
    font-size: $size;
    color: $color;
}

//2倍图、3倍图，默认2倍图
@mixin bg-image($url) {
    background-image: url("~@/assets/images/"+ $url + "@2x.png");
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        background-image: url("~@/assets/images/"+ $url + "@3x.png");
    }
}

// 多行省略号
@mixin ellipsis($s1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $s1;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow:ellipsis;
    overflow: hidden;
}

@mixin modalbg($color-bg: rgba(0, 0, 0, 0.2)) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-bg;
}

@mixin clear() {
    &:after {
        content: '.';
        clear: both;
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

/* 1像素边框 */

@mixin border($width: 1px, $border-color: #999, $border-radius: initial) {
    position: relative;

    /* 默认 */
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border: $width solid $border-color;
        border-radius: $border-radius;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }

    /* 设备像素比为 2 */
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        &:after {
            width: 200%;
            height: 200%;
            transform: scale(0.5);
            transform-origin: left top;
        }
    }

    /* 设备像素比为 3 */
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min-device-pixel-ratio: 3) {
        &:after {
            width: 300%;
            height: 300%;
            transform: scale(0.333333);
            transform-origin: left top;
        }
    }
}

@mixin border-bottom($height: 1px, $width: 100%, $border-color: #999) {
    position: relative;

    /* 默认 */
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: $width;
        height: $height;
        background-color: $border-color;
    }

    /* 设备像素比为 2 */
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        &:after {
            background-color: $border-color;
            transform: scaleY(0.5);
        }
    }

    /* 设备像素比为 3 */
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min-device-pixel-ratio: 3) {
        &:after {
            background-color: $border-color;
            transform: scaleY(0.333333);
        }
    }
}

@mixin border-top($height: 1px, $width: 100%, $border-color: #999) {
    position: relative;

    /* 默认 */
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: $width;
        height: $height;
        background-color: $border-color;
    }

    /* 设备像素比为 2 */
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        &:after {
            transform: scaleY(0.5);
        }
    }

    /* 设备像素比为 3 */
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min-device-pixel-ratio: 3) {
        &:after {
            transform: scaleY(0.333333);
        }
    }
}

@mixin border-right($height: 100%, $width: 1px, $border-color: #999) {
    position: relative;

    /* 默认 */
    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: $width;
        height: $height;
        background-color: $border-color;
    }

    /* 设备像素比为 2 */
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        &:after {
            transform: scaleX(0.5);
        }
    }

    /* 设备像素比为 3 */
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min-device-pixel-ratio: 3) {
        &:after {
            transform: scaleX(0.333333);
        }
    }
}

@mixin border-left($height: 100%, $width: 1px, $border-color: #999) {
    position: relative;

    /* 默认 */
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: $width;
        height: $height;
        background-color: $border-color;
    }

    /* 设备像素比为 2 */
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
        &:after {
            transform: scaleX(0.5);
        }
    }

    /* 设备像素比为 3 */
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min-device-pixel-ratio: 3) {
        &:after {
            transform: scaleX(0.333333);
        }
    }
}
